{%extends 'all-pages/base.html'%}

{% block content %}

.<div class="container">
    <div class="row">
        {% if pins %}
            <h3>
                Found: {{pins|length}} pins for search term "{{message}}"
            </h3>
            {% else %}
            <h4>
                Found 0 pins for the search term {{message}}.
            </h4>
            {% endif %}
    </div>
    <div class="row">
        {% if pins %}
            {% for pin in pins %}
        <div class="col-md-4 ">
            <div class="card" style="height: fit-content; width: fit-content;">
                <a href=" {% url 'show_single_pin' pin.id %} "><img style="height:50vh;" class="card-img-top" src=" {{pin.pin_image.url}} " alt=" {{pin.pin_name}} "></a>
                <div class="card-body">
                    <h5 class="card-title">Title:{{pin.pin_name}}</h5>
                    <p class="card-text"> <u>Caption:</u> <br>{{pin.pin_description}}</p>
                    <p class="card-text">Category: <u><strong>{{pin.category}}</strong></u></p>
                </div>
            </div>
        </div>
            {% endfor %}
        {% endif %}
    </div>
    
</div>

{% endblock %}